body.dark-theme {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --secondary-color: #b0b0b0;
}

    /* Виправлення для блоків, які мають жорстко заданий білий фон */
    body.dark-theme .styled-form,
    body.dark-theme .form-input,
    body.dark-theme .review-card,
    body.dark-theme th {
        background-color: #1e1e1e;
        color: var(--secondary-color);
        border-color: #333;
    }

    body.dark-theme tr:hover {
        background-color: #2c2c2c;
    }

/* Кнопка зміни теми */
.theme-toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--accent-color);
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .theme-toggle-btn:hover {
        transform: scale(1.1);
        background-color: black;
    }
