/* Клас для приховування рядків */
.hidden-row {
    display: none;
}

/* Стиль кнопки-перемикача */
.accordion-btn {
    display: block;
    margin: 15px auto 0 auto;
    background: none;
    border: 2px solid var(--accent-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-family: var(--font-heading);
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

    .accordion-btn:hover {
        background-color: var(--accent-color);
        color: white;
    }
